:root {
  --green: rgb(172, 243, 157);
  --red: rgb(232, 95, 92);
  --blue: rgb(156, 255, 250);
  --violet: rgb(119, 51, 68);
  --melon: rgb(227, 181, 164);
}

body {
  display: flexbox;
  flex-direction: column;
  align-items: center;
  background-color: var(--melon);
}

.footer {
  background-color:var(--violet);
  border:2px solid rgb(54, 51, 51);
  position: fixed;
  text-align: center;
  align-self: auto;
  width: 100%;
  bottom: 0;
  color: var(--red);
  font-size: 25px;
  left: 0%;
  font: 100;
 
 }

 header {
   position: flexbox;
    flex-basis: auto;
   top: 0%;
   left: 0%;
   border: 2px solid rgb(54, 51, 51);
   background-color: var(--violet);
   width: 100%;
   font: arial;
   
   
  
 }

 a {
   text-decoration: none;
   color:black;
   padding: 10px;
   margin: 10px;
   border: 10px;
 }

 .box {
   margin-top: 10%;
   margin-bottom: 10%;
  display: block;
  justify-content: center;
  text-align: center;
}

.contactBox {
  margin-top: 150px;
}

.resumeBox {
  margin-top: 200px;
  min-height: 100px;
}

.flexbox-container {
  display:flex;
  align-items: center;
  align-content: center;
  justify-content: center;
 
}


 h2 {
   text-align: center;
 }
 

 ul {
   text-decoration: none;
   
 }
.nav{
  text-align: center;
  font: arial;
}


.custom {
display: flexbox;
margin: auto;
width: 50%;
text-align: center;

}
.customBorder {
  margin-top: 1000px;

  color: #09080c;
  background-color: #f5f0ec;
  border-width: 25px;
  border-style: solid;
  border-image-repeat:repeat;
  border-image-source: url("./assets/wood/woodgrain.jpeg");
  border-image-slice: 30;
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: auto;
}


